.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.body-text {
  display: flex;
  font-family: fantasy;
  /* font-family: "Montserrat", sans-serif; */
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  background-color: purple;
  /* background-image: url("map.png"); */
  font-family: fantasy;

  /* font-family: "Montserrat", sans-serif; */
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 5px;
}

nav a:hover {
  cursor: pointer;
}

.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

p {
  font-size: 1.5em;
  padding-top: 1.5rem;
  font-family: fantasy;
}

article h1 {
  font-family: fantasy;
  margin-top: 30px;
  font-size: 1.5em;
}

link {
  font-size: large;
}
 
.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.grid-container .row {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.grid-container .row .column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border: 1px solid orange;
  color: orange;
  background-color: black;
  transition-delay: 1s ease;
}

.container {
  margin-top: 50px;
}

a:hover {
  text-decoration: underline;
}


li span {
  margin-left: 20px;
}

.delete {
  color:gray
}

.delete:hover {
  color: lightgray;
  cursor: pointer;
}


ul {
  list-style-type: none;
}

.grid-container:hover>.row>.selected {
    transition: color 0.25s ease-in-out;
    color:lime
}


ol  {
     list-style: decimal;
     color:orange
   }

ul li {
  color: orange
}

article p {color:orange}
div>label{color:orange}

select {background-color: black; color:orange}

.show-char {
  background-color: black;
  color: lime;
}

label:hover>  .row>.selected {
  transition: color 0.25s ease-in-out;
  color: lime
}


span {color:orange}


.footer {
  width: 100%;
  min-height: 3vh;
  background-color: purple;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
    bottom: 0;
}

.footer p {
  font-size: medium;
  padding: 5px;
}

.grid-container h1 {
  color:orange;
  background-color: black;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
/*----------------------- TOOL TIP -------------------------  */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted lime;
  padding-bottom: 3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 5px 5px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  width: 250px;
}

button:hover {cursor: pointer;}
a {color: white;
  font-family: fantasy; 
  font-size: 18px;
  padding-left: 25px;}

.view-list {padding-top: 40px;}
#title-text { text-align: center;  size: 100;}